@model MessageRobot.Models.Contact

@{
    ViewBag.Title = "Index";
}

<h2>Schedule Messages for @Model.Name</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { contactId = Model.Id})
</p>

@Html.Partial("_Messages", @Model.Messages)
